.add-user {
    position: relative;
  
    h1 {
      font-size: 2rem;
      margin-bottom: 10px;
    }
  
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
  
      input,
      select {
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
  
      button {
        padding: 10px 15px;
        font-size: 1rem;
        color: #fff;
        background-color: #3498db;
        border: none;
        border-radius: 5px;
        cursor: pointer;
  
        &:hover {
          background-color: #2980b9;
        }
      }
    }
  
    .permissions-dropdown {
      position: relative;
  
      .dropdown-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        background: #f9f9f9;
      }
  
      .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border: 1px solid #ccc;
        background: #fff;
        z-index: 10;
        max-height: 200px;
        overflow-y: auto;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
        .checkbox-item {
          display: flex;
          align-items: center;
          padding: 10px;
  
          &:hover {
            background-color: #f1f1f1;
          }
  
          input {
            margin-right: 10px;
          }
        }
      }
  
      .arrow {
        font-size: 1rem;
        color: #333;
      }
    }
    
    .Toastify__toast {
        font-size: 1rem;
        border-radius: 5px;
        color: white;
        font-weight: bold;
      }
      
      .Toastify__toast--success {
        background: #27ae60;
      }
      
  }
  